{% extends 'base.html' %}

{% block title %}Liste des spectacles{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul>
    {% for show in shows %}
    <li><a href="{% url 'catalogue:show_show' show.id %}">{{ show.title }}</a> 
        {% if show.bookable %}
            <span>{{ show.price }} €</span></li>
        {% endif %}

        {% if show.representations.count == 1 %}
        - <span>1 représentation</span>
        {% elif show.representations.count > 1 %}
        - <span>{{ show.representations.count }} représentations</span>
        {% else %}
        - <em>aucune représentation</em>
        {% endif %}

        </li>
    {% endfor %}
    </ul>
{% endblock %}