{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ show.title }}</h1>

	{% if show.poster_url %}
	<p><img src="{% static 'catalogue/images/' %}{{ show.poster_url }}" alt="{{ show.title }}" width="200"></p>
	{% else %}
	<canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
	{% endif %}
	
	{% if show.location %}
	<p><strong>Lieu de création:</strong> {{ show.location.designation }}</p>
	{% endif %}
        
	<p><strong>Prix:</strong> {{ show.price }} €</p>
        
	{% if show.bookable %}
	<p><em>Réservable</em></p>
	{% else %}
	<p><em>Non réservable</em></p>
	{% endif %}

	<h2>Liste des représentations</h2>
        {% if show.representations.count >= 1 %}
        <ul>
            {% for representation in show.representations.all %}
                <li>{{ representation.schedule|date:'d/m/Y H:i:s' }}</li>              
            {% endfor %}
        </ul>
        {% else %}
        <p>Aucune représentation</p>
        {% endif %}
	
    <h2>Liste des artistes</h2>
    <p><strong>Auteur:</strong>
    {% for auteur in collaborateurs.auteur %}
        {{ auteur.firstname }} 
        {{ auteur.lastname }}{% if forloop.last %}.{% elif forloop.last != True %}, {% endif %}
    {% endfor %}
    </p>
    <p><strong>Metteur en scène:</strong>
    {% for scenographe in collaborateurs.scénographe %}
        {{ scenographe.firstname }} 
        {{ scenographe.lastname }}{% if forloop.last %}.{% elif forloop.last != True %}, {% endif %}
    {% endfor %}
    </p>
    <p><strong>Distribution:</strong>
    {% for comedien in collaborateurs.comédien %}
        {{ comedien.firstname }} 
        {{ comedien.lastname }}{% if forloop.last %}.{% elif forloop.last != True %}, {% endif %}
    {% endfor %}
    </p>

	<nav><a href="{% url 'catalogue:show_index' %}">Retour à l'index</a></nav>
	{% endblock %}
