{% extends 'layouts/base.html' %}

{% block title %}Fiche d'une représentation{% endblock %}

{% block content %}
    <article>
        <h1>Représentation du {{ representation.schedule|date:'d/m/Y' }} à {{ representation.schedule|date:'G:i' }}</h1>
        <p><strong>Spectacle:</strong> {{ representation.show.title }}</p>

        <p><strong>Lieu:</strong> 
        {% if representation.location %}
        {{ representation.location.designation }}
        {% elif representation.show.location %}
        {{ representation.show.location.designation }}
        {% else %}
        <em>à déterminer</em>
        {% endif %}
        </p>
    </article>

    <nav><a href="{% url 'catalogue:representation_index' %}">Retour à l'index</a></nav>
{% endblock %}